<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-horizontal">
      <div class="control-group">
        <%= f.label "lblHost", "Hostname:", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :hostname %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "lblIP", "IP:", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :ip %>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label "lvlOS", "Operational System:", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :os%>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label "lbldesc", "Description:", :class => "control-label" %>
        <div class="controls"><%= f.text_area :description, :rows => "4" %></div>
      </div>
    
      <div class="control-group">
          <div class="controls">          
              <%= submit_tag "Save", :class => "btn" %>
              <%= link_to "Cancel", servers_path, :class => "btn"  %>
          </div>
      </div>
  </fieldset>
<% end %>