<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
       <div class="form-horizontal">
      
        <div class="control-group">
          <%= f.label "lblHost", "Hostname:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :hostname %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "lblIP", "IP:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :ip %>
          </div>
        </div>
      
        <div class="control-group">
          <%= f.label "lvlOS", "Operational System:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :os%>
          </div>
        </div>
      
        <div class="control-group">
          <%= f.label "lbldesc", "Description:", :class => "control-label" %>
          <div class="controls"><%= f.text_area :description, :rows => "4" %></div>
        </div>
      
        <div class="actions">
          <table>
            <tr>
              <td>
                <%= submit_tag "Save", :class => "btn" %>
              </td>
              <td>
                <button class="btn" type="button" onclick="history.go(-1)">Cancel</button>
              </td>
            </tr>
          </table>
        </div>
        
      </div>
  </fieldset>
<% end %>