<br /><legend>SERVERS</legend>
<table class="table table-hover table-striped">
   <thead style="font-weight: bold">
      <tr>
      <td>Hostname</td>
      <td>IP</td>
      <td>Operational System</td>
      <td></td><td></td><td></td>
    </tr>
</thead>
  <% @server.each do |server| %>
  <tr>
    <td><%= server.hostname %></td>
    <td><%= server.ip %></td>
    <td><%= server.os %></td>

    <td style="width: 30pt;"><%= link_to "Details", server %></td>
    <td style="width: 20pt;">
      <%= link_to image_tag("edit.png", :alt => "Edit"), edit_server_path(server) %>
    </td>
    <td style="width: 20pt;">
      <%= link_to image_tag("remove.png", :alt => "Delete"),server, :method => :delete, :data => { :confirm => "Are you sure ?"} %>
    </td>
  </tr>
<% end %>
</table>  
<%= button_to "New", new_server_path, :method => :get, :class => "btn" %>