<br /><legend>SERVERS</legend>
<% if @server.any? %>
  <table class="table table-striped">
    <thead class="td">
        <tr>
        <td>Hostname</td>
        <td>IP</td>
        <td>Operational System</td>
        <td></td><td></td><td></td>
      </tr>
    </thead>
    <% @server.each do |server| %>
      <tr>
        <td><%= server.hostname %></td>
        <td><%= server.ip %></td>
        <td><%= server.os %></td>

        <td style="width: 30pt;"><%= link_to "Details", server %></td>
        <td style="width: 20pt;">
          <%= link_to image_tag("edit.png", :alt => "Edit"), edit_server_path(server) %>
        </td>
        <td style="width: 20pt;">
          <%= link_to image_tag("remove.png", :alt => "Delete"),server, :method => :delete, :data => { :confirm => "Are you sure ?"} %>
        </td>
      </tr>
    <% end %>
  </table>  
<% else %>
  <div class="well">
    You don't have Servers registered.
  </div>
<% end %>
<%= paginate @servers %>
<%= button_to "New", new_server_path, :method => :get, :class => "btn" %>
<%= page_entries_info @servers %>
