
<% if notice != nil %>
	<div class="alert alert-success">
  		<button type="button" class="close" data-dismiss="alert">×</button>
  		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<br /><legend>SERVERS</legend>
<table class="table table-striped">
	<tr>
		<td>Hostname:</td>
		<td><%= @server.hostname %></td>
	</tr>
	<tr>
		<td>IP:</td>
		<td><%= @server.ip %></td>
	</tr>
	<tr>
		<td>Operational System:</td>
		<td><%= @server.os %></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><textarea rows="4"><%=  @server.description %></textarea></td>
	</tr>
</table>
<%= link_to image_tag("back.png", :alt => "Back"), servers_path, :class => "btn" %>