<%= form_for(@equip) do |f| %>
  <% if @equip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equip.errors.count, "error") %> prohibited this computer from being saved:</h2>
      <ul>
        <% @equip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <fieldset>
      <div class="form-horizontal">
        <div class="control-group">
          <%= f.label "lblType", "Type:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :type_equip, :maxlength => "30" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "lblModel", "Model:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :model_equip, :maxlength => "30" %>
          </div>
        </div>
      
        <div class="control-group">
          <%= f.label "lblLoc", "Location:", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :location_equip, :maxlength => "30" %>  
          </div>
        </div>
      
        <div class="control-group">
            <div class="controls">          
                <%= submit_tag "Save", :class => "btn" %>
                <%= link_to "Cancel", equips_path, :class => "btn"  %>
            </div>
        </div>
      </div>
  </fieldset>
<% end %>
