<br /><legend>EQUIPS</legend>
<% if @equip.any? %>
  <table class="table table-striped ">
    <thead class="td">
      <tr>
        <td>Type of Equip</td>
        <td>Model</td>
        <td>Location</td>
        <td></td><td></td><td></td>
      </tr>
    </thead>
    
    <% @equip.each do |equip| %>
    <tr>
      <td><%= equip.type_equip %></td>
      <td><%= equip.model_equip %></td>
      <td><%= equip.location_equip %></td>
      <td style="width: 30pt;"><%= link_to "Details", equip %></td>
      <td style="width: 20pt;">
        <%= link_to image_tag("edit.png", :alt => "Edit"), edit_equip_path(equip) %>
      </td>
      <td style="width: 20pt;">
        <%= link_to image_tag("remove.png", :alt => "Delete"),equip, :method => :delete, :data => { :confirm => "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  <div class="well">
    You don't have Equips registered.
  </div>
<% end %>
<%= button_to "New", new_equip_path, :method => :get, :class => "btn" %>

