<% if notice != nil %>
	<div class="alert alert-success">
  		<button type="button" class="close" data-dismiss="alert">×</button>
  		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<br /><legend>EQUIPS</legend>
<table class="table table-striped">
	<tr>
		<td>Type of Equips:</td>
		<td><%= @equip.type_equip %></td>
	</tr>
	<tr>
		<td>Model:</td>
		<td><%= @equip.model_equip %></td>
	</tr>
	<tr>
      <td align="left">
        Show QR Code
      </td>
      <td align="right">
		<%= link_to image_tag("qrcode.png", :title => "Show QR Code"), "#myModal", :data => {:toggle=>"modal"} %>
      </td>
    </tr>
	<tr>
		<td>Description:</td>
		<td><%= @equip.location_equip %></td>
	</tr>
</table>
<%= link_to image_tag("back.png", :alt => "Back"), equips_path, :class => "btn" %>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>QrCode for <%= @equip.type_equip %></h3>
  </div>
  <div class="modal-body">
 		<%= render 'qrcode', :object => :equip %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>​