<!DOCTYPE html>
<html>
<head>
	<title>stuffbox du.ub</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
	<%= javascript_include_tag "bootstrap.js" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
						<li>
							<%= link_to image_tag("logo.png"), servers_path, :class => "brand" %>
						</li>
						<li>
							<%= link_to image_tag("octocat.png", :title => "Fork me on GitHub"), "https://github.com/kln", :target => "_blank", :class => "brand" %>
						</li>
					<% if user_signed_in? %>
						<li><a href="<%= servers_path %>" >Servers</a></li>
						<li><a href="<%= computers_path %>" >Computers</a></li>
						<li><a href="<%= equips_path %>">Equips</a></li>
						<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="row">
		    <div class="span9 centred">
				<%= yield %>
		    </div>
		</div>
	</div>
</body>
</html>