<!DOCTYPE html>
<html>
<head>
	<title>..::Infr::..</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
	<%= javascript_include_tag "bootstrap.js" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<ul class="nav">
					<% if user_signed_in? %>
						<li><a href="<%= servers_path %>" >Servers</a></li>
						<li><a href="<%= computers_path %>" >Computers</a></li>
						<li><a href="<%= equips_path %>">Equips</a></li>
						<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><a href="/" >Home</a></li>
						<li><a href="#" >About</a></li>
					<% end %>
				</ul>
			</div>
		<div class="container" style="color: #000000">
			<%= yield %>
		</div>
		</div>
	</div>
</body>
</html>